<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>store/6385995.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>store/about_noselect.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,1},{261,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,264}</string>
			</dict>
			<key>store/about_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,1},{261,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{261,264}</string>
			</dict>
			<key>store/addCoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,515},{490,514}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{490,514}</string>
			</dict>
			<key>store/back2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1949,78},{75,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,72}</string>
			</dict>
			<key>store/btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,981},{188,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,44}</string>
			</dict>
			<key>store/btn_list_noselect.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,264},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>
			<key>store/btn_list_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,267},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>
			<key>store/btnBuy.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,916},{200,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,56}</string>
			</dict>
			<key>store/coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1031},{480,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,360}</string>
			</dict>
			<key>store/dau__.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,693},{640,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,122}</string>
			</dict>
			<key>store/download.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1031},{1000,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,207}</string>
			</dict>
			<key>store/duoi__.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,817},{640,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,97}</string>
			</dict>
			<key>store/ic_ads.png</key>
			<dict>
				<key>frame</key>
				<string>{{1827,123},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>store/insertCoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,515},{568,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,176}</string>
			</dict>
			<key>store/menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1949,1},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>store/movie_play_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{1223,478},{180,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,126}</string>
			</dict>
			<key>store/mygame_noselect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1301,1},{261,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,264}</string>
			</dict>
			<key>store/mygame_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{1564,1},{261,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,264}</string>
			</dict>
			<key>store/no.png</key>
			<dict>
				<key>frame</key>
				<string>{{1063,638},{187,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,44}</string>
			</dict>
			<key>store/play.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,1031},{1000,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,207}</string>
			</dict>
			<key>store/recent_noselect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1600,267},{261,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{261,264}</string>
			</dict>
			<key>store/recent_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1513},{261,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,264}</string>
			</dict>
			<key>store/star_empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,318},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>store/star_full.png</key>
			<dict>
				<key>frame</key>
				<string>{{1063,478},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>store/star_half.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,318},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>store/tem.png</key>
			<dict>
				<key>frame</key>
				<string>{{1827,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>store/Unknown copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,397},{200,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,56}</string>
			</dict>
			<key>store/video-icon-crop.png</key>
			<dict>
				<key>frame</key>
				<string>{{1063,1},{315,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{315,236}</string>
			</dict>
			<key>store/watch_now.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,916},{289,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{289,63}</string>
			</dict>
			<key>store/yes.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,981},{188,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,44}</string>
			</dict>
			<key>store/yeuthich_no_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1779},{261,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,264}</string>
			</dict>
			<key>store/yeuthich_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,1513},{261,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,264}</string>
			</dict>
			<key>store/reload.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,267},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>store/multiplay.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,267},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>store/search.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,1779},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>stores.png</string>
			<key>realTextureFileName</key>
			<string>stores.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>